<body style="background-image: url(../../assets/images/image.jpg); 
                      background-repeat: no-repeat; 
                      background-position: center; 
                      background-size: 1920px 1080px">
  <div class="container">

    <div class="text-center" style="padding: 30px 0 0 0">
      <h2 style="color: white">Welcome to Braddy
        <br>Hotels & Apartments</h2>
      <br>
      <br>
      <br>
      <h1 style="color: white">A beautiful home
        <br>to stay</h1>
      <p style="padding: 50px 0 0 0; color: white">
        <a class="btn btn-primary btn-demo" style="border-radius: 39px" href="rooms.html">View rooms</a>
        <a class="btn btn-primary btn-learn" style="border-radius: 39px">Contact Us</a>
      </p>
    </div>
  </div>
</body>
